@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700;800&family=Oswald:wght@200;300;400;500;600;700&display=swap');

/* Estilos comunes */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  list-style-type: none;
  font-family: 'Baloo', cursive;
}

html{
  font-size: 62.5%;
}

.seccion-header{
  font-family: 'Oswald', sans-serif;
  font-size: 10rem;
  font-weight: 300;
  color: #ddd;
}

.seccion-header-linea{
  width: 15rem;
  height: .2rem;
  background-color: #ddd;
  margin-right: 4rem;
}
/* Estilos comunes final */

/* Navbar */
.navbar{
  width: 100%;
  height: 8rem;
  background-color: rgba(0, 0, 0, .9);
  position: fixed;
  top: -8rem;
  z-index: 10;
  padding: 3rem;
  transition: height .5s;
  animation: animacionNavbar 1s .5s forwards;
}

@keyframes animacionNavbar {
  0%{
    top: -8rem;
  }
  100%{
    top: 0;
  }
}

.navbar.mostrar{
  height: 100vh;
}

.logo{
  position: absolute;
  top: 1.5rem;
  left: 4rem;
}

.logo a{
  font-family: 'MADE Soulmaze', sans-serif;
  font-size: 2.5rem;
  color: #eee;
  letter-spacing: .1rem;
}

.logo span{
  font-family: 'MADE Soulmaze', sans-serif;
  font-size: 3.5rem;
  font-weight: bold;
  color: #9e0e09;
}

.nav-lista{
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: all .2s;
}

.mostrar .nav-lista{
  opacity: 1;
  visibility: visible;
  transition: all .7s .5s;
}

.nav-link{
  font-family: 'MADE Soulmaze', sans-serif;
  font-size: 4rem;
  letter-spacing: .3rem;
  color: #fff;
  margin: 2rem 0;
  transition: color .4s;
}

.nav-link:hover{
  color: #9e0e09;
}

.menu{
  width: 4rem;
  height: 4rem;
  top: 2rem;
  right: 4rem;
  position: fixed;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  cursor: pointer;
}

.linea{
  width: 100%;
  height: .2rem;
  background-color: #eee;
  transition: transform .3s;
}

.linea-1{
  width: 50%;
}

.linea-3{
  width: 50%;
  margin-left: auto;
}

.mostrar .linea-1{
  transform: translate(100%, 1rem) rotate(-35deg);
  transform-origin: right;
}

.mostrar .linea-3{
  transform: translateY(-1rem) rotate(30deg);
  transform-origin: right;
}
/* Navbar final */

/* Seccion 1 */
.seccion-1{
  width: 100%;
  height: 100vh;
  background: url('./images/dark-bg.jpeg') no-repeat;
  background-size: cover;
}

.banner{
  width: 100%;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.banner-header{
  margin-bottom: 4rem;
  height: 20rem;
  perspective: 50rem;
  overflow: hidden;
}

.banner-header span{
  font-family: 'Oswald';
  font-size: 12rem;
  font-weight: 400;
  text-transform: uppercase;
  color: #fff;
  text-shadow: .3rem .3rem .6rem rgba(0, 0, 0, .5);
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  transform: translateZ(8rem);
  opacity: 0;
  letter-spacing: 3rem;
}

.header-1{
  animation: animarHeader 12s 3s
  infinite;
}

.header-2{
  animation: animarHeader 12s 6s
  infinite;
}

.header-3{
  animation: animarHeader 12s 9s
  infinite;
}

.header-4{
  animation: animarHeader 12s 12s
  infinite;
}

@keyframes animarHeader {
  0%{
    transform: translateZ(8rem);
    opacity: 0;
    letter-spacing: 3rem;
  }
  3%{
    transform: translateZ(0);
    opacity: 1;
    letter-spacing: 1.5rem;
  }
  25%{
    transform: translateZ(0);
    opacity: 1;
    letter-spacing: 1.5rem;
  }
  28%{
    transform: translateZ(8);
    opacity: 0;
    letter-spacing: 3rem;
  }
  100%{
    transform: translateZ(8rem);
    opacity: 0;
    letter-spacing: 3rem;
  }
}

.banner-parrafo{
  font-size: 4rem;
  font-weight: 400;
  text-transform: uppercase;
  color: #fff;
  background-color: rgba(0, 0, 0, .6);
  width: 30%;
  margin: 0 auto 4rem auto;
  padding: 1rem 0;
  box-shadow: 1rem 1rem 5rem rgba(0, 0, 0, .5);
  opacity: 0;
  visibility: hidden;
  animation: animacionFade 1s 1.5s forwards;
}

.banner-btn{
  width: 30rem;
  height: 6rem;
  background: linear-gradient(to right,#9b0e0e, #7a1010);
  color: #fff;
  font-size: 2rem;
  text-transform: uppercase;
  border-radius: 3rem;
  border: .1rem solid #800505;
  box-shadow: 1rem 2rem 3rem rgba(0, 0, 0, .5);
  text-shadow: .6rem .3rem .2rem rgba(0, 0, 0, .4);
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  animation: animacionFade 1s 1.5s forwards;
  position: relative;
  overflow: hidden;
}

.banner-btn::before{
  content: '';
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, transparent, #fff, transparent);
  position: absolute;
  top: 0;
  left: -100%;
  transform: skewX(-30deg);
  transition: left .5s;
}

.banner-btn:hover::before{
  left: 100%;
}

@keyframes animacionFade {
  0%{
    opacity: 0;
    visibility: hidden;
  }
  100%{
    opacity: 1;
    visibility: visible;
  }
}
/* Seccion 1 final */

/* Seccion 2 */
.seccion-2{
  width: 100%;
  height: 100vh;
  background-color: #222020;
  display: flex;
  align-items: center;
  padding: 0 10rem;
  position: relative;
}

.video-wrapper{
  width: 100rem;
  height: 50rem;
  position: absolute;
  top: 5rem;
  right: 15rem;
  box-shadow: 3rem 3rem 3rem rgba(0, 0, 0, .7);
  overflow: hidden;
}

.video{
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: .3;
  transition: opacity .3s;
}

.controles{
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, .7);
  transform: translateY(calc(100% - .4rem));
  transition: transform .4s;
}

.video-wrapper:hover .controles{
  transform: translateY(0);
}

.video-bar-wrapper{
  width: 100%;
  height: .7rem;
  background-color: #000;
  position: absolute;
  top: 0;
  left: 0;
}

.video-bar{
  height: 100%;
  width: 0;
  background-color: #d30819;
  transition: width .2s linear;
}

.botones{
  padding: 2rem 1rem 1rem 1rem;
}

.botones button{
  background: none;
  border: none;
  cursor: pointer;
}

.botones i{
  font-size: 2.8rem;
  color: #fff;
}

.seccion-2-parrafo{
  width: 100rem;
  position: absolute;
  bottom: 8rem;
  right: 15rem;
  font-size: 2rem;
  color: #ddd;
  border-top: .3rem double #aaa;
  border-bottom: .3rem double #aaa;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
  text-shadow: 1rem 1rem 2rem rgba(0, 0, 0, .7);
  line-height: 1.5;
}

.fa-quote-left{
  align-self: flex-start;
  font-size: 5rem;
  margin-bottom: 2rem;
}

.fa-quote-right{
  align-self: flex-end;
  font-size: 5rem;
}
/* Seccion 2 final */

/* Seccion 3 */
.seccion-3{
  width: 100%;
  height: 100vh;
  background-color: #03070e;
  display: flex;
  align-items: center;
  padding-left: 10rem;
}

.carta-precios-wrapper{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding: 5rem;
}

.carta-precio{
  width: 28rem !important;
  height: 45rem !important;
  background-color: #181b1d;
  border-radius: 1rem;
  box-shadow: 2rem 2rem 6rem rgba(0, 0, 0, .6);
}

.carta-precio-frente{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.carta-precio-header{
  font-size: 2rem;
  font-weight: 300;
  color: #fff;
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  padding-left: 2rem;
}

.header-gratis{
  background: linear-gradient(to right,#087285,#0da5d3);
  border-radius: 1rem 1rem 0 0;
}

.header-basico{
  background: linear-gradient(to right,#946809,#bdba0e);
  border-radius: 1rem 1rem 0 0;
}

.header-estandar{
  background: linear-gradient(to right,#a10c14,#e23b3b);
  border-radius: 1rem 1rem 0 0;
}

.header-premium{
  background: linear-gradient(to right,#0b7e48,#3be286);
  border-radius: 1rem 1rem 0 0;
}

.carta-precio-precio{
  font-family: 'MADE Soulmaze', sans-serif;
  font-size: 7rem;
  font-weight: 300;
  color: #fff;
}

.carta-precio-lista li{
  margin-bottom: .5rem;
}

.lista-gratis li{
  color: #0da5d3;
}

.lista-basico li{
  color: #bdba0e;
}

.lista-estandar li{
  color: #e23b3b;
}

.lista-premium li{
  color: #3be286;
}

.carta-precio-lista i{
  font-size: 1.8rem;
}

.carta-precio-lista span{
  font-size: 1.8rem;
  font-weight: 300;
  letter-spacing: .1rem;
}

.carta-precio-btn{
  width: 18rem;
  height: 5rem;
  margin-bottom: 3rem;
  border-radius: 3rem;
  border: none;
  font-size: 1.6rem;
  text-transform: uppercase;
  color: #fff;
  text-shadow: .3rem .3rem .6rem rgba(0, 0, 0, .5);
}

.btn-gratis{
  background-color: #0da5d3;
}

.btn-basico{
  background-color: #bdba0e;
}

.btn-estandar{
  background-color: #e23b3b;
}

.btn-premium{
  background-color: #3be286;
}

.carta-precio-atras{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotateY(180deg);
  border-radius: 1rem;
}

.atras-gratis{
  background: linear-gradient(to right,#087285,#0da5d3);
}

.atras-basico{
  background: linear-gradient(to right,#946809,#bdba0e);
}

.atras-estandar{
  background: linear-gradient(to right,#a10c14,#e23b3b);
}

.atras-premium{
  background: linear-gradient(to right,#0b7e48,#3be286);
}

.carta-precio-atras a{
  font-size: 2.5rem;
  color: #fff;
}
/* Seccion 3 final */

/* Seccion 4 */
.seccion-4{
  width: 100%;
  height: 100vh;
  background-color: #171718;
  display: flex;
  align-items: center;
  padding: 0 10rem;
}

.contacto-wrapper{
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contacto-detalles{
  display: flex;
  margin-bottom: 8rem;
}

.contacto-detalles div{
  width: 25rem;
  text-align: center;
  margin: 4rem;
}

.contacto-detalles i{
  font-size: 5rem;
  color: #7a1010;
}

.contacto-detalles h3{
  font-family: 'MADE Soulmaze', sans-serif;
  font-size: 2.5rem;
  margin: 2rem 0;
  color: #ccc;
}

.contacto-detalles p{
  font-size: 1.6rem;
  color: #aaa;
}

.contacto-wrapper h1{
  font-size: 4rem;
  color: #ccc;
  text-transform: uppercase;
  margin-bottom: 3rem;
}

.form-contacto{
  width: 70rem;
  display: flex;
  flex-direction: column;
}

.form-contacto input,
.form-contacto textarea{
  padding: 1.5rem;
  background-color: #444;
  color: #eee;
  border: none;
  margin-bottom: 2rem;
  font-family: 'Oswald', sans-serif;
  font-size: 1.8rem;
  font-weight: 300;
  letter-spacing: .1rem;
}

.form-contacto textarea{
  max-width: 100%;
  max-height: 15rem;
  min-height: 5.5rem;
}

.form-contacto input[type='submit']{
  background-color: #7a1010;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color .3s;
}

.form-contacto input[type='submit']:hover{
  background-color: #5f0303;
}
/* Seccion 4 final */

/* Footer */
.footer{
  width: 100%;
  height: 12rem;
  background-color: #202122;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10rem;
}

.footer-nav a{
  font-family: 'MADE Soulmaze', sans-serif;
  font-size: 2rem;
  color: #ccc;
  margin-right: 3rem;
  letter-spacing: .1rem;
  transition: color .3s;
}

.footer-nav a:hover{
  color: #862323;
}

.copyright{
  font-size: 1.8rem;
  color: #ddd;
}
/* Footer final */

@media (max-width: 1800px) {
  .video-wrapper{
    width: 90rem;
    height: 45rem;
    right: 10rem;
  }

  .seccion-2-parrafo{
    width: 90rem;
    right: 10rem;
  }

  .seccion-3 .seccion-header-linea{
    margin-right: 3rem;
  }
}

@media (max-width:1650px) {
  html{
    font-size: 57%;
  }

  .video-wrapper{
    width: 85rem;
    height: 40rem;
    right: 5rem;
  }

  .seccion-2-parrafo{
    width: 85rem;
    right: 5rem;
    bottom: 10rem;
  }
}

@media (max-width:1500px) {
  .seccion-header-linea{
    display: none;
  }
}

@media (max-width:1400px) {
  html{
    font-size: 40%;
  }

  .banner-header{
    font-size: 10rem;
  }

  .banner-parrafo{
    width: 45rem;
    font-size: 3rem;
  }

  .seccion-2, .seccion-3,
  .seccion-4{
    flex-direction: column;
  }

  .seccion-2{
    height: 120vh;
  }

  .video-wrapper{
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    width: 80rem;
  }

  .seccion-2-parrafo{
    left: 50%;
    transform: translateX(-50%);
    width: 80rem;
  }

  .seccion-3{
    height: auto;
    padding: 5rem 0 10rem 0;
  }

  .seccion-3 .seccion-header{
    margin-bottom: 7rem;
  }

  .swiper-container{
    width: 100%;
  }

  .seccion-4{
    height: auto;
    padding: 5rem 0;
  }
}

@media (max-width:900px) {
  html{
    font-size: 40%;
  }

  .banner{
    top: 25%;
  }

  .banner-header{
    height: 15rem;
  }

  .banner-header span{
    font-size: 8rem;
  }

  .footer{
    padding: 0 5rem;
  }

  .footer-nav a{
    font-size: 1.8rem;
  }
}

@media (max-width:700px) {
  html{
    font-size: 35%;
  }

  .seccion-2{
    height: 100vh;
  }

  .contacto-detalles div{
    margin: 3rem 2rem;
  }

  .footer{
    flex-direction: column;
    justify-content: center;
  }

  .footer-nav{
    margin-bottom: 2rem;
  }
}

@media (max-width:500px) {
  html{
    font-size: 30%;
  }

  .video-wrapper{
    width: 60rem;
  }

  .banner-header span{
    font-size: 4.5rem;
    letter-spacing: 2rem;
  }

  @keyframes animarHeader {
    0%{
      transform: translateZ(8rem);
      opacity: 0;
      letter-spacing: 2rem;
    }
    3%{
      transform: translateZ(0);
      opacity: 1;
      letter-spacing: 1rem;
    }
    25%{
      transform: translateZ(0);
      opacity: 1;
      letter-spacing: 1rem;
    }
    28%{
      transform: translateZ(8);
      opacity: 0;
      letter-spacing: 2rem;
    }
    100%{
      transform: translateZ(8rem);
      opacity: 0;
      letter-spacing: 2rem;
    }
  }

  .seccion-2-parrafo{
    width: 60rem;
  }

  .contacto-detalles div{
    width: 18rem;
    margin: 3rem 1rem;
  }

  .form-contacto{
    width: 60rem;
  }
}